server:
  port: 8080

spring:
#  profiles:
#    active: dev # 배포 시 prod로

  datasource:
    url: jdbc:mysql://sunsak-db.cva48mgg09q4.ap-northeast-2.rds.amazonaws.com:3306/sunsak
    username: admin
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true

  data:
    redis:
      host: localhost
      port: 6379
      password: ${REDIS_PASSWORD}

  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 25MB

  main:
    lazy-initialization: true # 실행 빠르게 bean 지연 초기화, 대신 에러 체크 생략할 수도 있음

jwt:
  secret: ${JWT_KEY}

naver:
  ocr:
    secret_key: ${OCR_SECRET_KEY}
    invoke_url: ${OCR_API_INVOKE_URL}